.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local
.parcel-cache/
.pnp.js
.vercel
*.pem
/.next/
/.pnp
/build
/coverage
/node_modules
/out/
dist/
node_modules/
npm-debug.log*
package-lock.json
yarn-debug.log*
yarn-error.log*
yarn.lock