footer {
  @apply -mx-view bg-gray-100 text-center py-12 space-y-8 text-base text-gray-500 mt-8;

  ul {
    @apply m-0 p-0;

    li {
      @apply m-0 p-0;

      &:before {
        @apply hidden;
      }
    }
  }

  & > * {
    @apply flex items-center justify-center space-x-8;
  }

  a {
    color: theme("colors.gray.500") !important;
    font-weight: 500 !important;
  }

  svg {
    width: 24px;
    height: 24px;
  }
}
